[flake8]
# Don't lint non-Python files
exclude =
    .git,
    .github,
    .mypy_cache,
    __pycache__,
    .venv
# Disable rules that we don't care about (or conflict with others)
extend-ignore =
    # Missing docstring in public module
    D100, D104,
    # Missing docstring in magic method
    D105,
    # Missing docstring in __init__
    D107,
    # First line of docstrings should end with a period
    D400,
    # First line of docstrings should be in imperative mood
    D401,
    # Whitespace before ":"
    E203,
max-line-length = 120
per-file-ignores =
    # DALL000: Missing __all__, setup isn't supposed to be imported
    setup.py: DALL000,
